body {
    margin: 0px;
  }

header {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-buttons {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 100px;
}

.menu-div {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.menu-titles {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 10px;
}

.text-content {
    margin-top: 20px;
}